/web/starthardware/downloads/arduino-1.6.7-linux32.tar.xz
/web/starthardware/downloads/arduino-1.6.7-windows.exe
/web/starthardware/downloads/arduino-1.6.7-macosx.zip
/web/starthardware/downloads/arduino-1.6.7-windows.zip
/web/starthardware/downloads/arduino-1.6.7-linux64.tar.xz
/web/appinventor/downloads/Windows/MIT_App_Inventor_Tools_win_setup.exe
/web/appinventor/downloads/Mac OS X/AppInventor_Setup.dmg
/web/appinventor/downloads/Linux/appinventor2-setup-all.deb
/web/opentechschool-javascript-beginners/downloads/googlechrome.dmg
/web/scratch/downloads/Scratch 2/Windows/Scratch-442.exe
/web/scratch/downloads/Scratch 2/Linux/Scratch-442.air
/web/scratch/downloads/Scratch 2/MacOS X/Scratch-442.dmg
/web/scratch/downloads/Scratch 2/MacOS/Scratch-442.air
