
/* ---------------------- Links ----------------------- */
/* http://www.ssi-developer.net/css/link-colours.shtml */
a:link {
  color: #000000;
  text-decoration: none; 
}
a:active {
  color: #000000; 
  text-decoration: none; 
}
a:visited {
  color: #000000; 
  text-decoration: none; 
}
a:hover {
  color: #0000cc; 
  text-decoration: none; 
}

/* ----------------------Content ----------------------- */
.content {
  font-size: 30px;
}

/* ---------------------- Material ----------------------- */

.category .heading {
  font-size: 40px;
  text-align: center;
  width: 100%;
  background: #2E7AC7;
  color: #ffffff;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.category .content {
  margin-left: 10px;
  overflow: hidden; 
}

.category .entry {
  background: #61C93F;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 400px;
  clear: none;
  float: left;
}

.category .entry .heading {
  font-size: 40px;
  text-align: center;
  background: #61C93F;
  color: white;
  padding-top: 10px;
}

.entry .description {
  padding: 10px;
  background: #ffffff;
  margin: 10px;
}

/* ---------------------- Header ----------------------- */

.header {
  width: 100%;
  margin-bottom: 10px;
}

.header .logo {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.header .heading {
  background: #FACA33;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
  overflow: hidden;
}

.header .heading .title {
  color: #FFFFFF;
  font-size: 40px;
  margin-bottom: 10px;
}

.header .heading .text {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  background: white;
  font-size: 30px;
  margin-bottom: 10px;
}
